.container-fluid{
    border-bottom: solid 5px #2D3793;
}

.navbar-brand{
    margin: 25px;
}
.top-wrap{
    margin-top: 40px; 
   text-align: right;
}

.heading-section h3{
    margin-top: 40px;
   
}
.heading-section> h3{
    font-weight: bold;
}

.heading-section> p{
    margin-top: 15px;
}
.rotate{
    font-size: 80px;
    margin-top: 40px;
}

.btn-primary{
    background-color: #283991;
}

.heading-section h4{
    margin-top: 40px;
   
}
.heading-section> h4{
    font-weight: bold;
}


.regis> a{
    font-weight: bold;
    color: black;
    text-decoration:none;
}
#form-login{
    background-color:#E8E6E6;
    height: 120px;
}

.btn-register-login{
    margin-top: 119px;
}

.btn-login-cancel{
    margin-top: 20px;
}

.regis-forgot{
    padding-top: 20px;
}

.line-form{
    border-bottom: solid 4px #2D3793;
    font-weight: bold;
    margin-bottom: 5px;
}

#form-confirm{
    margin-top: 20px;
    background-color:#D1D2D4;
    height: 260px;
}
#form-confirm>p{
    text-align: center;
    padding-top: 120px;
    font-weight: bold;
}

.footer{
    font-size: 12px;
}

#sort2{
border: 1px solid black; 
}

.border-input{
    border: 1px solid black; 
}

.col-login-id{
    padding-top: 20px;
    padding-left: 24px;
}

.col-login-pass{
    padding-top: 10px;
    padding-left: 24px;
}

.input-id{
    height: 30px;
    width: 250px;
}
.input-pass{
    height: 30px;
    width: 250px;
}

.height-width-input{
    height: 27px;
    width: 180px;
}
.size-text-ex{
    font-size: 12px;
}
.color-long{
    background-color: #E8E6E6;
}


#attachment label {
    /* ボタン部分の見た目（任意） */
    display: inline-block;
    position: relative;
    background: #E8E6E6;
    color: black;
    font-size: 11px;
    padding: 5px 5px;
    border-radius: 4px;
    transition: all 0.3s;
    border: 1px solid black;
   }
   #attachment label:hover {
    background: #888;
    transition: all 0.4s;
   }
   #attachment label input {
    /* 今回のポイント */
    position: absolute;
    left:0;
    top:0;
    opacity: 0;
    width: 100%;
    height: 100%;
   }
   #attachment .filename {
    font-weight: 16px;
    margin:0 0 0 10px;
   }

@media only screen and (max-width: 768px){
    .navbar-brand{
        margin: 0px;
    }
    .top-wrap{
        margin-top: 10px;
       text-align: right;
      
    }

    .col-login-id{
        padding-top: 0px;
        padding-left: 24px;
    }
    
    .col-login-pass{
        padding-top: 0px;
        padding-left: 24px;
    }

    
}
